@font-face {
  font-family: BYekan;
  src: local("BYekan"), url(./assets/BYekan.ttf) format("truetype");
}

html, body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: BYekan, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  user-select: none;
}

body {
  background: #F7F7F5;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* .swiper-pagination{
  padding: 40px !important;
  margin: 40px !important;
} */
.section-title{
  font-size: xx-large;
  margin: 20px;
  padding: 10px;
  color: #2E4E6E;
}


.scroller{
  height: 830px;
overflow-y: scroll;
scroll-snap-type: y mandatory;
}
.scroller section {
  scroll-snap-align: start;
}

/* Navbar */
.navbar {
  position: relative;
  z-index: 10;
  background-color: #7AB2E2;
  width: 100%;
  height: 75px;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar img {
  width: 70px;
  height: 60px;
  margin-top: 3px;
}
a{
  text-decoration: none;
  color: #fff;
}
.nav-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0;


}

.nav-link li {
  margin-right: 20px;
  font-size: 16px;
  cursor: pointer;
  
}
/* end nav */
/* header slider */
.header {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header img {
  width: 100%;
  height: 100%;
  object-fit: fit;
}
/* end header slider */
/* top of sliders */

.top-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: -100px;
}

.top-slider span {
  font-size: 35px;
  color: #2e4e6e;
}
/* end top of sliders */
/* Articles */
.articles {
  padding: 30px;
  background-color: #2E4E6E;
}
.articles .swiper-wrapper{
align-items: flex-end;
  flex-direction: row !important;
}
.articles .swiper .swiper-slide {
  height: calc((100% - 30px) / 2) !important;
  overflow: hidden;
}

/*  end Articles */
/* Cards */
.card {
  text-align: center;
  background-color: #F7F7F5;
  color: #2E4E6E;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 500px;
  border-radius: 15px;
  overflow: hidden;
  
}

.card-header {
  display: flex;
  flex-direction: column;
  height: 50%;
  padding: 10px;
}

.card-bg {
  width: 100%;
  height: 100%;
  object-fit:cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.card-logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: solid 6px #F7F7F5;
  margin-top: -40px;
  margin-right: 80px;
 position: absolute;  
 z-index: 0; 
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.card-title{
  padding: 4px;
  margin: 2px;
  font-size: 16px;
  text-align: left;

}
.card-name{
  color: #000;
  font-size: 25px;
  margin-top: 16px;
}
.card:hover::before{
position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;
backdrop-filter:blur(3px) ;
content: "";
z-index: 1;

}
.card-icons{
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translateX(200%);
  z-index: 2;
}
.card:hover .card-icons{
  transform: translate(-50%,-50%);
  transition: transform 0.5s ease ;
}
/* .card:hover {
filter: blur(2px);
} */

.card-icons img {
  width: 35px;
  height: 35px;
}
/* end Cards */
/* Countup */
.countup-main {
  display: flex;
  margin-top: 30px;
}

.countup {
  height: 500px;
  font-size: xx-large;
  padding: 30px;
}
.countup-main div:hover{
  scale: 1.1;
  transition: scale 0.5s ease;
}
.countup-main div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  height: 250px;
  border-radius: 10px;
  background-color: #7AB2E2;
  margin: 2px;
  padding: 20px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);

}
/* end Countup */

.footer {
  background-color: #7AB2E2;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.phone,.sms,.fax,.email,.time {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.phone svg,.sms svg,.fax svg,.email svg,.time svg{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}