@font-face {
  font-family: BYekan;
  src: local("BYekan"), url(./assets/BYekan.ttf) format("truetype");
}

html,
body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: BYekan, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  user-select: none;
}

section {
  background: #ece9e6;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* .swiper-pagination{
  padding: 40px !important;
  margin: 40px !important;
} */
.section-title {
  font-size: xx-large;
  margin: 20px;
  padding: 20px;
  color: #2e4e6e;
  background: #ece9e6;
  border-radius: 10px;
  color: #2e4e6e;
  margin-right: 0;
}

/* .scroller{
  height: 100vh;
overflow-y: scroll;
scroll-snap-type: y mandatory;
}
.scroller section {
  scroll-snap-align: start;
} */

/* Navbar */
.navbar {
  position: relative;
  z-index: 10;
  background: #2193b0;
  width: 100%;
  height: 75px;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 70px;
  height: 60px;
  position: absolute;
  right: 0;
}
.navbar a {
  text-decoration: none;
  color: #fff;
}
a {
  text-decoration: none;
}
.nav-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0;
}

.nav-link li {
  margin-right: 20px;
  font-size: 16px;
  cursor: pointer;
}
.nav-link li:hover {
  scale: 1.2;
  transition: scale 0.5s ease;
}
/* end nav */
/* header slider */
.header {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.header img {
  width: 100%;
  height: 100%;
  object-fit: fit;
}
/* end header slider */
/* top of sliders */

.top-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: -100px;
  border-radius: 20px !important;
}

.top-slider span {
  font-size: 35px;
  color: #000;
}
/* end top of sliders */
/* Articles */
.articles {
  padding: 30px;
  background: #457fca;
  background: -webkit-linear-gradient(to top, #5691c8, #457fca);
  background: linear-gradient(to top, #5691c8, #457fca);
}
.articles .swiper-wrapper {
  align-items: flex-end;
  flex-direction: row !important;
}
.articles .swiper .swiper-slide {
  height: calc((100% - 30px) / 2) !important;
  overflow: hidden;
}

/*  end Articles */
/* Cards */
.card {
  text-align: center;
  background: #ece9e6;
  color: #2e4e6e;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 500px;
  border-radius: 15px;
  overflow: hidden;
}
.card:hover .card-logo {
  scale: 1.3;
  transition: scale 0.5s ease;
}
.card-header {
  display: flex;
  flex-direction: column;
  height: 50%;
  padding: 10px;
}

.card-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.card-logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: solid 6px #f7f7f5;
  margin-top: -40px;
  margin-right: 80px;
  position: absolute;
  z-index: 0;
  left: 50%;
  top: calc(100% / 1.8);
  transform: translate(-50%, -50%);
}

.card-title {
  padding: 4px;
  margin: 2px;

  font-size: 16px;
  text-align: left;
  color: #2e4e6e !important;
}
.card-title a {
  color: #2e4e6e !important;
}
.card-name {
  font-size: 25px;
  margin-top: 16px;
}
.card-name a {
  color: #000 !important;
}
/* .card:hover::before{
position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;
backdrop-filter:blur(2px) ;
content: "";
z-index: 1;

}
.card-icons{
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translateX(200%);
  z-index: 2;
}
.card:hover .card-icons{
  transform: translate(-50%,-50%);
  transition: transform 0.5s ease ;
} */
/* .card:hover {
filter: blur(2px);
} */

.card-icons img {
  width: 20px;
  height: 20px;
}
.card-icons {
  display: flex;
  justify-content: space-around;
}
/* end Cards */
/* Countup */
.countup-main {
  display: flex;
  margin-top: 30px;
}

.countup {
  height: 500px;
  font-size: xx-large;
  padding: 30px;
}
.countup-main div:hover {
  scale: 1.1;
  transition: scale 0.5s ease;
}
.countup-main div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 250px;
  border-radius: 10px;
  background: #2193b0;
  background: -webkit-linear-gradient(to top, #6dd5ed, #2193b0);
  background: linear-gradient(to top, #6dd5ed, #2193b0);
  margin: 2px;
  padding: 20px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.countup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  width: 1000px; /* Change this value to adjust the width of each CountUp container */
  text-align: center;
}

.countup-container p {
  margin-top: 10px;
  font-size: 16px;
}


.countup-container p {
  margin-top: 10px;
  font-size: 16px;
}

@media (max-width: 768px) {
  .countup-tabs {
    flex-wrap: wrap;
  }

  .tab {
    flex-basis: 100%;
    margin-top: 10px;
  }
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container button {
  padding: 10px 20px;
  margin: 0px 10px;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: none;
}

.button-container button.active {
  background-color: #457fca;
  color: #fff;
}

.button-container button:hover {
  background-color: #457fca;
  color: #fff;
}
/* end Countup */

.footer {
  background: #2193b0;
  background: -webkit-linear-gradient(to top, #6dd5ed, #2193b0);
  background: linear-gradient(to top, #6dd5ed, #2193b0);
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.phone,
.sms,
.fax,
.email,
.time {
  margin: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.phone svg,
.sms svg,
.fax svg,
.email svg,
.time svg {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.toptitle {
  font-size: 20px !important;
  text-align: center !important;
  display: block;
}
.sticky_nav {
  background: transparent;
  top: 30%;
  left: 1%;
  position: fixed;
  z-index: 10;
  height: 250px;
  width: 45px;
  border-radius: 50px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.sticky_nav::before {
  content: "";
  z-index: 15;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.2),
    0 0 50px rgba(255, 255, 255, 0.2);
  filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sticky_nav li {
  margin: 0;
  z-index: 30;
}
.sticky_nav li:hover {
  scale: 1.5;
  transition: all 1s ease;
  z-index: 35;
  overflow: visible;
}
.sticky_nav:hover {
  transition: all 0.5s ease;
  overflow: visible;
}
.sticky_nav img {
  width: 30px;
  height: 30px;
  margin: 10px;
  cursor: pointer;
}

.sticky_nav .nav-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.iconscontainer {
  position: relative;
  margin: 0 5em;
  display: flex;
  align-items: center;
  height: 100%;
  z-index: 2000;
}

.iconscontainer .icon span {
  position: absolute;
  left: 90%;
  margin-top: 10px;
  padding: 0.55rem 1rem;
  font-size: 1rem;
  white-space: nowrap;
  color: #000;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  pointer-events: none;
  user-select: none;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.iconscontainer .icon:hover span {
  opacity: 0.8;
}

.tg-btn {
  width: 340px;

  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  border-radius: 30px;
  background-color: #f1f2f3;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  cursor: pointer;
}

.tg-btn button {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: bold;
  color: #444;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tg-btn .active {
  background-color: #457fca !important;
  color: white;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.tg-btn button:hover {
  color: #fff;
  background-color: rgba(0, 0,0,0.1);

}
.btn1{
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
}
.btn2{
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
}